nav.card-navigation
  .card-navigation__outer-wrapper
    .card-navigation__wrapper
      a.card-navigation__link.card-navigation__link_current.card-navigation__link_card(href="#card", data-target="card") Сервисная карта 
        span
      a.card-navigation__link.card-navigation__link_advantages(href="#advantages", data-target="advantages") Преимущества
        span
      a.card-navigation__link.card-navigation__link_get(href="#get", data-target="get") Как получить?
