@import "../../helpers/*"

html body .card-navigation
  position relative
  height 80px
  font-family Arial, sans-serif

  &__outer-wrapper
    height 80px
    position static
    background-color $white
    border-bottom 1px solid $mid-grey

  &_fixed .card-navigation__outer-wrapper
    position fixed
    top 0
    left 0
    right 0
    z-index 10

  &__wrapper
    margin 0 auto
    width 1220px
    line-height 80px

  &__link
    display inline-block
    font-size 16px
    color $black
    text-decoration none
    padding 0
    transition color .25s!important;
    background 0 100% no-repeat

    svg
      width 75px
      vertical-align middle
      position relative

      #rec,
      #cog,
      #clock,
      #svg-card-back,
      #svg-card
        transform translateX(0) translateY(0)
        transition transform .25s

      #svg-card-front
        transform translateX(0) translateY(7.234727px)
        transition transform .25s


    &_card svg
      width 52px
      margin 0 23px 0 0

    &_advantages svg
      width 70px
      height 60px
      margin 0 5px 0 0

    &_get svg
      width 60px
      margin 0 15px 0 0

    &_current,
    &:hover
      color $mid-green
      #rec
        transform translateX(-5px) translateY(-5px)
      #cog
        transform translateX(0) translateY(-8px) rotateZ(0deg)
      #clock
        transform translateX(5px) translateY(-5px)
      #svg-card
        transform translateX(-8px) translateY(-2px)
      #svg-card-back
        transform translateX(-8px) translateY(7.234727px)
      #svg-card-front
        transform translateX(8px) translateY(0)
      span
        background-color $mid-green
    span
      display inline-block
      height 1px
      width 65px
      margin 0 20px
      background-color $midmid-grey
      vertical-align middle
      transition background-color .25s
