section.card-details
  section.card-details__when
    p.card-details__when-title Всегда предъявляйте сервисную карту до момента оформления услуг и оплаты покупок на кассе!
    p.card-details__when-title впереди еще больше прeимуществ с заботой о вашем времени!
  section.card-details__address
    h2.card-details__address-title Сервисной картой Леруа Мерлен можно воспользоваться в ТЦ «Леруа Мерлен» в г. Ростов-на-Дону: 
    .card-details__address-list
      address.card-details__address-line Ростовская обл., г. Аксай, Аксайский пр., 23
      address.card-details__address-line Ростовская обл., Аксайский район п. Верхнетемерницкий, ул. Обсерваторная, д. 15
  section.card-details__copyright
    | Организатор Программы не несет ответственности за не ознакомление Участников с ее условиями, а так же за предоставление Участником неполных и/или некорректных контактных и/или иных сведений, необходимых для проведения Программы. Организатор вправе, без объяснений причин и, не вступая в переписку с Участником, удалить регистрационные данные Участника. Организатор гарантирует доступность информации об Акции в течение всего срока ее проведения. Вся информация, полученная Организатором в ходе проведения Программы, включая персоальные данные участников, принадлежит Организатору. Каждый участник Программы безоговорочно признает, что Организатор имеет право на последующее использование информации, собранной в ходе данной Программы в рекламных целях при условии соблюдения требований действующего законодательства об охране такой информации, а также в целях дальнейшей коммуникации с участником. Программа проводится на территории РФ с 20 июня 2015 года по 30 июня 2017 года. 
    br
    | Организатор Программы: ООО «Леруа Мерлен Восток», Адрес: Россия, 141031, М/о, г. Мытищи и Осташковское шоссе, 1.  
