@import "../../helpers/*"

.card-abstract
  font-family Arial, sans-serif
  max-width 900px
  margin 50px 0
  border-bottom 1px solid $grey
  &__title
    title()
  &__text
    font-size 21px
    line-height 29px
    color $black
    margin 0 0 29px
  &__stamp
    margin 0 0 45px
    font-size 21px
    line-height 100px
    color $black
  &__logotype
    height 100px
    display inline-block
    vertical-align middle
    margin 0 20px 0 0
