section.card-abstract
  h2.card-abstract__title Сервисная карта леруа мерлен
  p.card-abstract__text Мы знаем, сколько времени, энергии и денег требует ремонт и обустройство дома, когда начинаешь этим заниматься... Именно поэтому мы стремимся к тому, чтобы покупки товаров для Ваших идей и работ стали проще и удобнее. Для особых отношений с нашими постоянными покупателями мы создали Сервисную карту, держатели которой могут расчитывать  на преимущества, которые стоят больше, чем деньги! Мы уверены, что Вы оцените простоту покупок в Леруа Марлен с Сервисной картой и с удовольствием воплотите свои мечты дома!
  p.card-abstract__stamp
    img.card-abstract__logotype(src="images/logo.png", alt="Логотип компании")
    | С заботой о вашем времени!
