section#get.card-get.chapter
  h2.card-get__title Как получить сервисную карту?
  ol.card-get__steps
    li.card-get__step 
      span 1
      | Заполнить анкету. Для Вашего удобства мы расположили анкеты в торговом зале в отделах, на пунктах Возврата, Доставки м Самовывоза. Скоро анкета появится на нашем сайте!
    li.card-get__step 
      span 2
      | Принисите анкету на стойку регистрации Сервисной карты, расположенную рядом с главным входом в торговый зал. За 2 минуты мы дадим Вам сервисную карту, и начнется, которую Вы получите в элетронном письме.
    li.card-get__step 
      span 3
      | Чтобы получить доступ в личный кабинет на сайте, активируйте Вашу учетную запись. Для этого пройдите по ссылке, которую Вы получите в электронном письме.
