section.advantages
  h2.advantages__title Преимущества сервисной карты Леруа Мерлен:
  ul.advantages__list
  
    li.advantages__advantage.advantages__advantage_history
      h3.advantages__advantage-title История покупок в личном кабинете на сайте
      p.advantages__advantage-text 
        | Вы помните точный оттенок краски, которую Вы у нас купили? Или диаметр фиттингов? С сервисной картой Леруа Марлен Вам больше не нужно запоминать эту информацию! Мы сделаем это за Вас, чтобы в любое время Вы могли обратиться к истории своих покупок в личном на 
        a(href="http://www.leroymerlin.ru/acard") http://www.leroymerlin.ru/acard 
        |  и набрать тот товар, который Вам нужно заменить или купить.
  
    li.advantages__advantage.advantages__advantage_service
      h3.advantages__advantage-title Возврат и гарантийное обслуживание товара без чека
      p.advantages__advantage-text Вы тоже думаете, что товар вернуть еще сложнее, чем купить? А когда что-то требует гарантийного ремонта, то чек уж точно не найти среди всег бумаг? Теперь Вы никогда не окажетесь в такой ситуации, потому что мы бережно ведем историю Ваших покупок,  возврат товара возможен без чека. Для обращения в Сервисный центр Леруа Мерлен с неисправным товаром также не требуется никаких подтверждений, кроме Сервисной карты.
  
    li.advantages__advantage.advantages__advantage_return
      h3.advantages__advantage-title Расширенный срок возврата товара в течение 1 года
      p.advantages__advantage-text 
        | Купили давно, а смогли начать делать только вчера? Мы понимаем... 
        br
        | Ремонт всегда длится дольше, чем планируешь. И для таких случаев мы вводим беспрецедентные правила для владельцев Сервисной карты и увеличиваем срок возврата товаров до 1 года с момента покупки!*

    li.advantages__advantage.advantages__advantage_time
      h3.advantages__advantage-title Экономия времени на оформление услуг
      p.advantages__advantage-text 
        | Каждый раз тратите время при оформлении доставки и других услуг в наших магазинах? 
        br
        | Больше не повторится! Мы один раз спросим адрес Вашего места жительство или проведения работ, куда вы желаете доставить покупки, и в дальнейшем Вы сможете оформлять услуги в магазине гораздо быстрее.
  
      p.advantages__advantage-footnote Услуга возможна, только если до оплаты товаров и услуг клиент предъявил карту. Срок возврата расширен до 1 года с момента покупки, но не позднее даты окончания срока годности и в соответсвии с действующим Законодательством РФ. 
