<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Леруа Мерлен - Leroy Merlin - Дом для Дома! Официальный сайт
    link(rel="shortcut icon", href="favicon.ico")
    //- link(rel="stylesheet", href="css/current.css")
    link(rel="stylesheet", href="css/styles.css")
    script(src="js/css3-mediaqueries-js/css3-mediaqueries.js")
    script(src="js/modernizr/modernizr.js")
    script(src="js/jquery/jquery.min.js")
    script(src="js/velocity/velocity.min.js")
  body
    #page-layout
      .main.main-card
        block headers
        .wrap
          block content

    script(src="js/scripts.js", async, defer)
